<% content_for(:title) { " - Login"  } %>

<h1>Login</h1>


<%= form_for(@user, :url => '/login') do |f| %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Login', :class => 'btn large' %>
  </div>
<% end %>

<%= link_to 'Register', register_path %>
