<div id="eventsheader">   
  <%= link_to 'All events', events_path, :class => 'btn small' %>
  <%= link_to 'My events', myevents_path, :class => 'btn small' %>
  <a href="#" class="btn small" id="by_date" data-date="<%= Date.today %>" data-date-format="yyyy-mm-dd">By date</a>  
</div> 
<hr/> 



<div id="profile">
  <h1>Your profile</h1>

  

  <%= link_to 'Edit info', "#", :id => "edit_info", :class => 'btn btn-warning' %>

    
  <p>
    <b>Email:</b>
    <div id="email">
      <%= @user.email %>
    </div>
  </p>

  <p>
    <b>Fullname:</b>
    <div id="fullname">
      <%= @user.fullname %>
    </div>
  </p>
</div>


