<% content_for(:title) { " - #{ all_events ? 'All' : "#{ current_user.name }'s" } events #{ (defined? date) ? "at #{ date }" : '' }" } %>

<div id="eventsheader">   
  <%= link_to 'All events', ((defined? date) ?  "/events/bydate/#{ convert_date(date) }" : events_path), :class => "btn small#{ all_events ? ' btn-inverse' : '' }" %>
  <%= link_to 'My events', ((defined? date) ? "/myevents/bydate/#{ convert_date(date) }" : myevents_path), :class => "btn small#{ all_events ? '' : ' btn-inverse' }" %>
  <a href="#" class="btn small <%= (defined? date) ? 'btn-inverse' : '' %>" id="<%= all_events ? 'by_date' : 'my_by_date' %>" data-date="<%= (defined? date) ? date : Date.today %>" data-date-format="yyyy-mm-dd">By date<%= (defined? date) ? ": #{ date }" : '' %></a>  
  <%= (defined? date) ? (link_to 'Remove date filter', all_events ? events_path : myevents_path, :class => 'btn small') : '' %>
</div> 
<hr/> 

<h1>Showing <%= all_events ? 'all' : 'your' %> events <%= (defined? date) ? "at #{ date }" : '' %></h1>


<hr/>

<ul class="thumbnails">
  <li class="span3">
    <%= link_to (image_tag '/images/Plus_sign.png'), '#', :id => 'newevent', :class => 'thumbnail' %>
  </li>
<% @events.each do |event| %>
  <li class="span3">
    <div class="thumbnail">
      <div id="<%= event.id %>">
        <% if !all_events || my_event?(event) %>
          <%= link_to event.name, '#', :id => 'editevent', :class => 'btn btn-warning' %>
          <%= link_to 'Delete event', event, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
        <% else %>
          <%= event.name %>
        <% end %>
      </div>
      Date: <%= event.date %><br/>
      <%= repeated(event.period) %><br/>
      Author: <%= (!all_events || my_event?(event)) ? 'you' : event.user.name %><br/>
      <%= link_to event.comments.size.to_s + ' comments', event_path(event), :class => 'btn btn-success' %>
    </li>  
  <% end %>
  <% if @events.empty? %>
    <li class="span3">
      <div class="thumbnail">
        <b>
          <%= all_events ? 'No events have been created.' : 'You have no events.' %>        
        </b>
      </div>
    </li>
  <% end %>
</ul>


<br />


<div id="editform">
</div>

