<% content_for(:title) { " - Event #{ @event.name } comments"  } %>

<div id="eventsheader">   
  <%= link_to 'All events', events_path, :class => 'btn small' %>
  <%= link_to 'My events', myevents_path, :class => 'btn small' %>
  <a href="#" class="btn small" id="by_date" data-date="<%= Date.today %>" data-date-format="yyyy-mm-dd">By date</a>  
</div> 
<hr/> 

<div id="currentevent">
  
  <h1>Event <%= @event.name %></h1>
  
  
   <div id="<%= @event.id %>">
    <% if my_event?(@event) %>
      <%= link_to 'Edit', '#', :id => 'editcurrentevent', :class => 'btn btn-warning' %> | 
      <%= link_to 'Delete event', @event, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
    <% end %>
  </div>

  <p>
    <b>Date:</b>
    <%= @event.date %>
  </p>

  <div id="repeat">
    <%= repeated(@event.period) %>
  </div>
</div>

<hr/>

<%= render 'comments/form' %>

<h2>Comments:</h2>

<%= @comments.empty? ? 'There are no comments.' : '' %>
<%= render @comments %>

